.blog-section {
    background-color: white;
  }
  
  .blogcontainer {
    background-color: #ffffff;
    text-align: center;
    padding: 2.5rem 1.5rem;
    max-width: 1500px;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: left;
  }
  
  /* .section-title {
    font-size: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
    text-align: left;
  } */
  
  .section-description {
    max-width: 700px;
    margin: 16px auto;
    color: #6b7280;
    font-size: 1rem;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin-top: 32px;
  }
  .grid-item img {
    width: 100%;
    height: 384px !important;
    object-fit: cover;
    border-radius: 10px;
}
  
  @media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .grid-item {
    position: relative;
  }
  
  .blog-image {
    object-fit: cover;
    width: 100%;
    height: 384px;
    border-radius: 0.375rem;
    position: relative;
    z-index: 10;
  }
  
  .blog-card {
    margin-left: 12px;
    position: relative;
    z-index: 10;
    max-width: 660px;
    padding: 24px;
    margin-top: -135px;
    background-color: white;
    border-radius: 0.375rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 140px;
    text-align: left;
  }
  .blog-card:hover .blog-title {
    --tw-text-opacity: 1;
    color: #3b82f6;
  }
 
  
  .blog-title {
    font-weight: 600;
    color: #2d3748;
    font-size: 1.25rem;
    text-decoration: none;
  }
  
  .blog-title:hover {
    text-decoration: underline;
  }
  
  .blog-description {
    margin-top: 12px;
    font-size: 0.875rem;
    color: #6b7280;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 2.8rem; 
    text-align: left;
  }
  
  .blog-description.expanded {
    display: block;
    -webkit-line-clamp: unset; 
    overflow: visible;
  }
  
  .blog-date {
    margin-top: 12px;
    font-size: 0.875rem;
    --tw-text-opacity: 1;
    color: #3b82f6;
    text-align: left;
  }
  

  