* {
    font-family: Poppins, SourceHanSansK, Arial, sans-serif;
}

.footer-container ::selection,
.footer-bottom ::selection,
.footer-subscribe ::selection {
    background-color: #3498db;
    color: #fff;
}

footer {
        /* background: linear-gradient(to right, #11998e, #38ef7d); */
        /* background: linear-gradient(to right, #a8e063, #56ab2f) */
        /* background: linear-gradient(to right, #232526, #414345) */
        /* background: linear-gradient(to right, #032f3c, #02474d) */
        /* background: linear-gradient(to right, #02474d, #10898d) */
        /* background: linear-gradient(to right, #032f3c, #046169) */
    background: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
    padding: 25px 0;
    font-size: 14px;
    /* margin-top: 260px; */
    min-height: 250px;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 40px;
    /* border-bottom: 1px solid #666; */
}

/* Footer Left Section */
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-left h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.footer-left p {
    margin: 0 0 10px 0;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #1da1f2;
}

/* Footer Center Section */
.footer-center {
    text-align: center;
}

.footer-center h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.footer-center ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.footer-center ul li {
    margin: 10px 0;
}

.footer-center ul li a {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-center ul li a:hover {
    text-decoration: underline;
}

/* Footer Right Section */
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-right ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    /* margin-left: 65px; */
}

.footer-right ul li {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    margin: 10px 0;
}

.footer-right p {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.footer-right i {
    margin-right: 10px;
    font-size: 20px;
}

/* Footer Bottom Section */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

/* Subscribe Section */
.footer-subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    color: #fff;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    /* border-bottom: 1px solid #666; */
}

.footer-subscribe .subscribe-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

.footer-subscribe .subscribe-button-container {
    margin-top: 0;
}

.footer-subscribe .subscribe-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    color: #243b55;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #243b55;
    transition: all 0.3s;
}

.footer-subscribe .subscribe-button:hover {
    background-color: #243b55;
    color: white;
    border: 1px solid white;
}

.footer-subscribe .subscribe-icon {
    margin-left: 8px;
    width: 16px;
    height: 16px;
}

.divider_footer {
    width: 100%;
    height: 1px;
    background-color: #666;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column ;
        align-items: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        margin-bottom: 20px;
        text-align: center;
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .footer-center ul {
        padding-left: 0;
    }

    .footer-left h3,
    .footer-center h3 {
        font-size: 20px;
    }

    .footer-subscribe {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-subscribe .subscribe-heading {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    footer {
        font-size: 13px;
    }

    .footer-left h3,
    .footer-center h3 {
        font-size: 18px;
    }

    .social-icons {
        text-wrap: nowrap;
    }
}


.logo_image1 {
    width: 70px;
    height: 70px;
}
