*{
    font-family: Poppins, SourceHanSansK, Arial, sans-serif;
}
.investers-section ::selection {
    background-color: #3498db; 
    color: #fff;  
}

.investers-section ::-moz-selection {
    background-color: #3498db;  
    color: #fff;  
}


.investers-section {
    background-color: #ffffff;
    text-align: center;
    padding: 2.5rem 1.5rem;
    max-width: 1500px;
    margin: 0 auto;

}

/* .investers-section h2 {
    font-size: 32px;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 70px;
    color: #333;
    text-align: left;
} */

.investers-section p {
    font-size: 1rem;
    margin-bottom: 40px;
    color: #6c757d;
}

.investers-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
        padding: 3rem 1.5rem;
}

.investers-card {
    padding: 20px;
    border-radius: 10px;
    /* background: #fff; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    border: 1px solid #e6e6e6;
    text-align: center;
    width: calc(25% - 20px);
    max-width: 150px;
}

.investers-card img {
    width: 80px;
    margin-bottom: 10px;
}

.investers-card p {
    font-size: 1rem;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .investers-section h2 {
        font-size: 2.2rem;
    }
    .investers-section p {
        font-size: 0.95rem;
    }
    .investers-card p {
        font-size: 0.95rem;
    }
}

@media (max-width: 800px) {
    .investers-section h2 {
        font-size: 2rem;
    }
    .investers-section p {
        font-size: 0.9rem;
    }
    .investers-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    .investers-section h2 {
        font-size: 1.8rem;
    }
    .investers-section p {
        font-size: 0.85rem;
    }
    .investers-card {
        width: calc(100% - 20px);
    }
}