*{
    font-family: Poppins, SourceHanSansK, Arial, sans-serif;
}
.mediaWrapper {
    position: relative;
    overflow: hidden;
    height: 90vh;
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
    opacity: 0.; 
}

.mediaChannelsSection {
    text-align: center;
    /* padding: 30px; */
    /* background: rgba(0, 0, 0, 0.05);  */
    position: relative;
    z-index: 1; 
}

.mediaHeading {
    color: black;
    font-size: 3.5rem;
    letter-spacing: 0.15em;
    margin: 0;
    font-family: 'Dennis Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.45;
    margin-bottom: 1em;
}

.mediaChannelGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    width: 1084px;
}

.mediaChannelCard {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 180px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.mediaChannelCard:hover {
    transform: scale(1.05);
}

.mediaIcon {
    font-size: 40px;
    margin-bottom: 10px;
}

.mediaImage {
    width: 80px;
}

.mediaChannelTitle {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.mediaChannelArrow {
    color: #666;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .mediaChannelGrid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    }
}
