
/* .mp_heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #222;
}

.paragraph-container {
    background: linear-gradient(to bottom, #000, #444);
    color: white;
    padding: 50px 20px;
    text-align: center;
} */
*{
    font-family: Poppins, SourceHanSansK, Arial, sans-serif;
}
/* Onroad Video */
.onroad_video-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    text-align: center;
    padding: 2.5rem 1.5rem;
    max-width: 1500px;
    margin: 0 auto;
}

.onroad_video-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    padding: 50px;
    margin-top: -60px;
}

.onroad_video-row.visible {
    opacity: 1;
    transform: translateY(0);
}

.onroad_video_container {
    position: relative;
    flex: 1;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.onroad_video_container:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.onroad_video_container iframe,
.onroad_video_container video {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-bottom: 2px solid #eee;
}

.onroad_video_title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    color: #333;
}

.onroad_video_meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    font-size: 0.9rem;
    color: #666;
    border-top: 1px solid #eee;
}

.onroad_video_date {
    font-weight: 600;
}

.onroad_video_arrow {
    font-size: 1.2rem;
    text-decoration: none;
    color: #666;
    transition: transform 0.3s ease, color 0.3s ease;
}

.onroad_video_arrow:hover {
    color: #d00;
    transform: scale(1.3);
}

.onroad_video_detail {
    margin: 10px;
    font-size: 0.9rem;
    color: gray;
    text-align: justify;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.onroad_video_text {
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .onroad_video-row {
        flex-direction: column;
        gap: 15px;
        margin-top: -20px; 
        padding: 10px;
    }


    .onroad_video_container iframe,
    .onroad_video_container video {
        height: 200px;
    }

    .onroad_video_title {
        font-size: 1rem;
    }

    .onroad_video_date {
        font-size: 0.8rem;
    }

    .onroad_video_arrow {
        font-size: 1rem;
    }
}

